.catalog__item {
  display: block;
  background-color: #f2f2f2;
  min-height: 268px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.catalog__name {
  margin-top: 0;
  margin-left: 70px;
}

.catalog__description {
  display: inline-block;
  width: 230px;
  margin-left: 25px;
}

.catalog__line {
  width: 230px;
  margin-left: 25px;
}

.catalog__more {
  display: block;
  width: 230px;
  height: 58px;
  border-top: 1px solid #d9d9d9;
  margin: 0 auto;
  color: #202020;
}
