.living-example {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
}

.living-example__wrapper {
  display: flex;
  justify-content: space-around;
}

.living-example__img {
  background-image: url(../img/before-mobile@1x.png);
  background-repeat: no-repeat;
  width: 310px;
  height: 232px;
}

.living-example__toggle {
  display: flex;
  justify-content: space-around;
}

