.offer {
  min-height: 502px;
  background-color: #65a93c;
  background-image: url(../img/background-index.jpg);
  background-repeat: no-repeat;
}

.offer__slogan {
  margin-top: 0;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.offer__intro {
  color: white;
  text-align: center;
}

.offer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
