.offer::before {
  content: " ";
  width: 320px;
  height: 305px;
  background-color: #65a93c;
  background-image: url(../img/index-background-mobile@1x.jpg);
  display: inline-block;
}

.offer__slogan {
  margin-top: -270px;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
}

.offer__intro {
  color: white;
  text-align: center;
}

.offer__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
